extends layouts/layers

block variables
  - var pageType = "app"
  - var pageTitle = "GEOPORTAL WWF"
  - var x = "tab"

block container
  .title-wrap-bg.bg-1
    .container.pad
      .title-app-page.bg-brown-ligth
        | <svg width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.5556 29.5556V25.3333H27.4444V29.5556H10.5556ZM27.4444 14.7778L19 23.2222L10.5556 14.7778H15.8333V8.44444H22.1667V14.7778H27.4444ZM4.22222 0H33.7778C36.1211 0 38 1.9 38 4.22222V33.7778C38 36.1211 36.1211 38 33.7778 38H4.22222C1.9 38 0 36.1211 0 33.7778V4.22222C0 1.9 1.9 0 4.22222 0ZM4.22222 4.22222V33.7778H33.7778V4.22222H4.22222Z" fill="white"/></svg>
        | DESCARGA DE INFORMACIÓN
    
  .container.pad
    .caption-page-app
      p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate libero voluptas necessitatibus excepturi saepe mollitia tempora nam error quaerat architecto. Distinctio, deserunt asperiores. Nam doloribus eos praesentium cumque explicabo unde!
    .row
      .pannel-table-wwf(role='tabpanel')
        .table-pro-content 
          table.table-pro.display(style='width:100%')
            thead
              tr
                th CÓDIGO
                th NOMBRE DE PLANO
                th DESCARGAR

            tbody
              tr
                td PLN-001-2023
                td Plano Catastral rbano Pangoa
                td.text-center
                  button.btn-sm <svg width="16" height="20" viewBox="0 0 16 20" fill="none"><path d="M10 0L16 6V18C16 18.5304 15.7893 19.0391 15.4142 19.4142C15.0391 19.7893 14.5304 20 14 20H2C1.46957 20 0.960859 19.7893 0.585786 19.4142C0.210714 19.0391 0 18.5304 0 18V2C0 1.46957 0.210714 0.960859 0.585786 0.585786C0.960859 0.210714 1.46957 0 2 0H10ZM14 18V7H9V2H2V18H14ZM8 17L4 13H6.5V10H9.5V13H12L8 17Z" fill="#464F60"/></svg>

                
              tr
                td PLN-001-2023
                td Plano Catastral rbano Pangoa
                td.text-center
                  button.btn-sm <svg width="16" height="20" viewBox="0 0 16 20" fill="none"><path d="M10 0L16 6V18C16 18.5304 15.7893 19.0391 15.4142 19.4142C15.0391 19.7893 14.5304 20 14 20H2C1.46957 20 0.960859 19.7893 0.585786 19.4142C0.210714 19.0391 0 18.5304 0 18V2C0 1.46957 0.210714 0.960859 0.585786 0.585786C0.960859 0.210714 1.46957 0 2 0H10ZM14 18V7H9V2H2V18H14ZM8 17L4 13H6.5V10H9.5V13H12L8 17Z" fill="#464F60"/></svg>
              tr
                td PLN-001-2023
                td Plano Catastral rbano Pangoa
                td.text-center
                  button.btn-sm <svg width="16" height="20" viewBox="0 0 16 20" fill="none"><path d="M10 0L16 6V18C16 18.5304 15.7893 19.0391 15.4142 19.4142C15.0391 19.7893 14.5304 20 14 20H2C1.46957 20 0.960859 19.7893 0.585786 19.4142C0.210714 19.0391 0 18.5304 0 18V2C0 1.46957 0.210714 0.960859 0.585786 0.585786C0.960859 0.210714 1.46957 0 2 0H10ZM14 18V7H9V2H2V18H14ZM8 17L4 13H6.5V10H9.5V13H12L8 17Z" fill="#464F60"/></svg>
              tr
                td PLN-001-2023
                td Plano Catastral rbano Pangoa
                td.text-center
                  button.btn-sm <svg width="16" height="20" viewBox="0 0 16 20" fill="none"><path d="M10 0L16 6V18C16 18.5304 15.7893 19.0391 15.4142 19.4142C15.0391 19.7893 14.5304 20 14 20H2C1.46957 20 0.960859 19.7893 0.585786 19.4142C0.210714 19.0391 0 18.5304 0 18V2C0 1.46957 0.210714 0.960859 0.585786 0.585786C0.960859 0.210714 1.46957 0 2 0H10ZM14 18V7H9V2H2V18H14ZM8 17L4 13H6.5V10H9.5V13H12L8 17Z" fill="#464F60"/></svg>
              tr
                td PLN-001-2023
                td Plano Catastral rbano Pangoa
                td.text-center
                  button.btn-sm <svg width="16" height="20" viewBox="0 0 16 20" fill="none"><path d="M10 0L16 6V18C16 18.5304 15.7893 19.0391 15.4142 19.4142C15.0391 19.7893 14.5304 20 14 20H2C1.46957 20 0.960859 19.7893 0.585786 19.4142C0.210714 19.0391 0 18.5304 0 18V2C0 1.46957 0.210714 0.960859 0.585786 0.585786C0.960859 0.210714 1.46957 0 2 0H10ZM14 18V7H9V2H2V18H14ZM8 17L4 13H6.5V10H9.5V13H12L8 17Z" fill="#464F60"/></svg>
              tr
                td PLN-001-2023
                td Plano Catastral rbano Pangoa
                td.text-center
                  button.btn-sm <svg width="16" height="20" viewBox="0 0 16 20" fill="none"><path d="M10 0L16 6V18C16 18.5304 15.7893 19.0391 15.4142 19.4142C15.0391 19.7893 14.5304 20 14 20H2C1.46957 20 0.960859 19.7893 0.585786 19.4142C0.210714 19.0391 0 18.5304 0 18V2C0 1.46957 0.210714 0.960859 0.585786 0.585786C0.960859 0.210714 1.46957 0 2 0H10ZM14 18V7H9V2H2V18H14ZM8 17L4 13H6.5V10H9.5V13H12L8 17Z" fill="#464F60"/></svg>
              tr
                td PLN-001-2023
                td Plano Catastral rbano Pangoa
                td.text-center
                  button.btn-sm <svg width="16" height="20" viewBox="0 0 16 20" fill="none"><path d="M10 0L16 6V18C16 18.5304 15.7893 19.0391 15.4142 19.4142C15.0391 19.7893 14.5304 20 14 20H2C1.46957 20 0.960859 19.7893 0.585786 19.4142C0.210714 19.0391 0 18.5304 0 18V2C0 1.46957 0.210714 0.960859 0.585786 0.585786C0.960859 0.210714 1.46957 0 2 0H10ZM14 18V7H9V2H2V18H14ZM8 17L4 13H6.5V10H9.5V13H12L8 17Z" fill="#464F60"/></svg>
              tr
                td PLN-001-2023
                td Plano Catastral rbano Pangoa
                td.text-center
                  button.btn-sm <svg width="16" height="20" viewBox="0 0 16 20" fill="none"><path d="M10 0L16 6V18C16 18.5304 15.7893 19.0391 15.4142 19.4142C15.0391 19.7893 14.5304 20 14 20H2C1.46957 20 0.960859 19.7893 0.585786 19.4142C0.210714 19.0391 0 18.5304 0 18V2C0 1.46957 0.210714 0.960859 0.585786 0.585786C0.960859 0.210714 1.46957 0 2 0H10ZM14 18V7H9V2H2V18H14ZM8 17L4 13H6.5V10H9.5V13H12L8 17Z" fill="#464F60"/></svg>
              tr
                td PLN-001-2023
                td Plano Catastral rbano Pangoa
                td.text-center
                  button.btn-sm <svg width="16" height="20" viewBox="0 0 16 20" fill="none"><path d="M10 0L16 6V18C16 18.5304 15.7893 19.0391 15.4142 19.4142C15.0391 19.7893 14.5304 20 14 20H2C1.46957 20 0.960859 19.7893 0.585786 19.4142C0.210714 19.0391 0 18.5304 0 18V2C0 1.46957 0.210714 0.960859 0.585786 0.585786C0.960859 0.210714 1.46957 0 2 0H10ZM14 18V7H9V2H2V18H14ZM8 17L4 13H6.5V10H9.5V13H12L8 17Z" fill="#464F60"/></svg>
              tr
                td PLN-001-2023
                td Plano Catastral rbano Pangoa
                td.text-center
                  button.btn-sm <svg width="16" height="20" viewBox="0 0 16 20" fill="none"><path d="M10 0L16 6V18C16 18.5304 15.7893 19.0391 15.4142 19.4142C15.0391 19.7893 14.5304 20 14 20H2C1.46957 20 0.960859 19.7893 0.585786 19.4142C0.210714 19.0391 0 18.5304 0 18V2C0 1.46957 0.210714 0.960859 0.585786 0.585786C0.960859 0.210714 1.46957 0 2 0H10ZM14 18V7H9V2H2V18H14ZM8 17L4 13H6.5V10H9.5V13H12L8 17Z" fill="#464F60"/></svg>
              tr
                td PLN-001-2023
                td Plano Catastral rbano Pangoa
                td.text-center
                  button.btn-sm <svg width="16" height="20" viewBox="0 0 16 20" fill="none"><path d="M10 0L16 6V18C16 18.5304 15.7893 19.0391 15.4142 19.4142C15.0391 19.7893 14.5304 20 14 20H2C1.46957 20 0.960859 19.7893 0.585786 19.4142C0.210714 19.0391 0 18.5304 0 18V2C0 1.46957 0.210714 0.960859 0.585786 0.585786C0.960859 0.210714 1.46957 0 2 0H10ZM14 18V7H9V2H2V18H14ZM8 17L4 13H6.5V10H9.5V13H12L8 17Z" fill="#464F60"/></svg>
          .footer-pagination
            .total-items 30 de 150
            .pagination-datatable
              ul.pagination
                li
                  a(href='#') <svg width="16" height="16" viewBox="0 0 16 16" fill="none"><path d="M9.5 11L6.5 8L9.5 5" stroke="#868FA0" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>
                li
                  a(href='#') 1
                li
                  a.active(href='#') 2
                li
                  a(href='#') 3
                li
                  a(href='#') 4
                li
                  a(href='#') 5
                li
                  a(href='#') 6
                li
                  a(href='#') 7
                li
                  a(href='#') <svg width="16" height="16" viewBox="0 0 16 16" fill="none"><path d="M6.5 11L9.5 8L6.5 5" stroke="#464F60" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>