block variables
  - var pageType = ""
  - var pageTitle = "Ofrecemos la oportunidad de llegar eficientemente a audiencias segmentadas, a través de nuestras diversas webs de contenido especializado. Encuentra aquí las que son ideales para tu marca en el formato digital."
  - var x = ""
doctype html
html
  include ../components/mixins
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=2.5")
    title= "GEOPORTAL WWF"
    meta(name='twitter:card' content='summary_large_image')
    meta(name='twitter:site' content='WWF Geoportal')
    meta(name='twitter:creator' content='WWF Geoportal')
    meta(name='twitter:domain' content='WWF Geoportal')
    meta(name='twitter:title' content='GEOPORTAL WWF')
    meta(name='twitter:description' content='Por un futuro en el que los humanos vivan en armonía con la naturaleza.')
    link(rel="shortcut icon", type="image/x-icon", href="img/favicon.png")

    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)

    link(rel="stylesheet", href="css/fancybox.css")
    link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap", rel="stylesheet")
    link(rel="stylesheet", href="css/splide.min.css")
    link(rel="stylesheet", href="css/main.css")


  body(class= pageType data-x= x)
    #wrap
      block main
