footer.footer
  .container
    .footer-details.flex.between
      .footer-details__wrap-logo-button.flex.g-30.align-center
        .mr-logo 
          img(src="img/wwf-logo.svg", alt="WWF", width="90")
        .label-wwf Por un futuro en el que los<br> humanos vivan en armonía<br> con la naturaleza.
      .footer-details__links 
        .footer-details__title Enlaces de interés
        .list-links-rl
          .list-links__link
            a(href="#") Lorems Ipsum
          .list-links__link
            a(href="#") Adipisicing elit
          .list-links__link
            a(href="#") Necessitatibus deserunt
          .list-links__link
            a(href="#") Necessitatibus deserunt
          .list-links__link
            a(href="#") Molestiae dicta
          .list-links__link
            a(href="#") Adipisicing elit
          

  .more-footer-details
    .container Fotos y gráficos © WWF o usados con permiso. Texto disponible bajo <a href="http://creativecommons.org/licenses/by-sa/3.0/deed.es" target="_blank">licencia de Creative Commons</a>.
       