@mixin news_summary {
  display: flex;
  gap: 20px;
  
  .news {
    &__media {
      width: 49%;
      flex: 0 0 49%;
    }
    
    &__data {
      padding: 0;
      line-height: 0;
      width: 100%;
    }
  }
  
  &.news--invert {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  
  &.news--alignitems-end {
    align-items: flex-end;
  }
}