$background: #F1F3F2;
$texto: #2B2B2B;
$color_dark_brown: #552f25;
$color_brown: #9a681c;
$color_orange: #f07d00;
$color_blue: #00728f;
$color_aqua: #009191;
$color_yellow: #f5d200;
$color_red: #da1d52;
$color_violet: #9a0064;
$color_berry: #812990;
$color_olive: #7b8427;
$color_green: #007932;
$color_base: #c4bc8e;
$color_medium_green: #8cc63f;