html {
    font-size: 62.5%
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto
}

.container.pad {
    padding: 20px
}

.container.xs {
    max-width: 900px
}

body {
    font-size: 1.5em;
    line-height: 1.4;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: var(--color-text);
    background-color: #fff;
    margin: 0;
    top: 0 !important;
    position: static !important
}

* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 2rem;
    font-family: Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: bold
}

h1 {
    font-size: 4rem;
    line-height: 1.2
}

h2 {
    font-size: 3.6rem;
    line-height: 1.25
}

h3 {
    font-size: 3rem;
    line-height: 1.3
}

h4 {
    font-size: 2.4rem;
    line-height: 1.35;
    letter-spacing: -0.08rem
}

h5 {
    font-size: 1.8rem;
    line-height: 1.5;
    letter-spacing: -0.05rem
}

h6 {
    font-size: 1.5rem;
    line-height: 1.6;
    letter-spacing: 0
}

p {
    margin-top: 0
}

a {
    text-decoration: none;
    all: unset;
    cursor: pointer
}

a:hover {
    text-decoration: underline
}

img,
iframe {
    vertical-align: middle;
    max-width: 100%;
    border: 0
}

svg {
    vertical-align: middle
}

.button,
button {
    border: 0;
    cursor: pointer;
    box-sizing: border-box
}

.button:hover,
button:hover {
    outline: 0
}

input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
    color: #333;
    border-color: #888;
    outline: 0
}

.button.button-primary,
button.button-primary {
    color: #FFF;
    background-color: #33C3F0;
    border-color: #33C3F0
}

input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
    color: #FFF;
    background-color: #33C3F0;
    border-color: #33C3F0
}

.button.button-primary:hover,
button.button-primary:hover {
    color: #FFF;
    background-color: #1EAEDB;
    border-color: #1EAEDB
}

input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover {
    color: #FFF;
    background-color: #1EAEDB;
    border-color: #1EAEDB
}

.button.button-primary:focus,
button.button-primary:focus {
    color: #FFF;
    background-color: #1EAEDB;
    border-color: #1EAEDB
}

input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
    color: #FFF;
    background-color: #1EAEDB;
    border-color: #1EAEDB
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"] {
    height: 34px;
    padding: 4px 8px;
    background-color: #fff;
    border: 1px solid #D1D1D1;
    box-shadow: none;
    box-sizing: border-box
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    min-height: 65px;
    padding-top: 6px;
    padding-bottom: 6px
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus {
    border-color: #cdcdcd;
    outline: 0
}

textarea:focus,
select:focus {
    border: 1px solid #33C3F0;
    outline: 0
}

label,
legend {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 600
}

fieldset {
    padding: 0;
    border-width: 0
}

input[type="checkbox"],
input[type="radio"] {
    display: inline
}

label>.label-body {
    display: inline-block;
    margin-left: 0.5rem;
    font-weight: normal
}

ul {
    list-style: circle inside
}

ol {
    list-style: decimal inside;
    padding-left: 0;
    margin-top: 0
}

ul {
    padding-left: 0;
    margin-top: 0
}

ul ul,
ul ol {
    margin: 1.5rem 0 1.5rem 3rem;
    font-size: 90%
}

ol ol,
ol ul {
    margin: 1.5rem 0 1.5rem 3rem;
    font-size: 90%
}

li {
    margin-bottom: 1rem
}

code {
    padding: 0.2rem 0.5rem;
    margin: 0 0.2rem;
    font-size: 90%;
    white-space: nowrap;
    background: #F1F1F1;
    border: 1px solid #E1E1E1;
    border-radius: 4px
}

pre>code {
    display: block;
    padding: 1rem 1.5rem;
    white-space: pre
}

th,
td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #E1E1E1
}

button,
.button {
    margin-bottom: 1rem
}

input,
textarea,
select,
fieldset {
    margin-bottom: 1.5rem
}

pre,
blockquote,
dl,
table,
p,
ul,
ol,
form {
    margin-bottom: 2.5rem
}

figure {
    margin: 0
}

.full-width {
    width: 100%;
    box-sizing: border-box
}

.max-full-width {
    max-width: 100%;
    box-sizing: border-box
}

.pull-right {
    float: right
}

.pull-left {
    float: left
}

hr {
    margin-top: 3rem;
    margin-bottom: 3rem;
    border-width: 0;
    border-top: 1px solid #5c5c5c
}

.flex {
    display: flex
}

.between {
    justify-content: space-between
}

.justify-center {
    justify-content: center
}

.justify-right {
    justify-content: right
}

.align-center {
    align-items: center
}

.g-10 {
    gap: 10px
}

.g-15 {
    gap: 15px
}

.g-20 {
    gap: 20px
}

.g-30 {
    gap: 30px
}

.mr-bottom-0 {
    margin-bottom: 0
}

.mr-bottom-10 {
    margin-bottom: 10px
}

.mr-bottom-15 {
    margin-bottom: 15px
}

.mr-bottom-20 {
    margin-bottom: 20px
}

.mr-bottom-25 {
    margin-bottom: 25px
}

.mr-bottom-30 {
    margin-bottom: 30px
}

.mr-bottom-35 {
    margin-bottom: 35px
}

.mr-bottom-40 {
    margin-bottom: 40px
}

.ads {
    margin: 0 auto 20px;
    text-align: center
}

.ads.ads-top {
    min-height: 90px;
    margin-top: 10px;
    margin-bottom: 10px
}

.ads-interstitial {
    margin: 0
}

.loading-row {
    display: flex;
    justify-content: center;
    padding: 20px 0
}

@keyframes gradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

.main-grid {
    background: var(--color-bg);
    padding: 20px 15px
}

.text-center {
    text-align: center
}

.text-right {
    text-align: right
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 10px
}

.col--12 {
    grid-column: span 12
}

.col--11 {
    grid-column: span 11
}

.col--10 {
    grid-column: span 10
}

.col--9 {
    grid-column: span 9
}

.col--8 {
    grid-column: span 8
}

.col--7 {
    grid-column: span 7
}

.col--6 {
    grid-column: span 6
}

.col--5 {
    grid-column: span 5
}

.col--4 {
    grid-column: span 4
}

.col--3 {
    grid-column: span 3
}

.col--2 {
    grid-column: span 2
}

.skiptranslate:not(.goog-te-gadget) {
    display: none !important
}

.language {
    position: relative;
    cursor: pointer;
    display: block;
    padding: 5px;
    border: 1px solid #b6b6b66b;
    border-radius: 5px;
    width: 53px;
    height: 53px;
    display: flex;
    align-items: center;
    justify-content: center
}

.translateContent {
    position: absolute;
    top: calc(100% + 10px);
    right: 0;
    background: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 3px #0000005c;
    display: none;
    overflow: hidden
}

.translateContent .goog-te-combo {
    width: 100%
}

.translateContent.active {
    display: block
}

@font-face {
    font-family: "WWF";
    src: url("../fonts/WWF.woff2") format("woff2");
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    src: url(../fonts/KFOkCnqEu92Fr1MmgVxFIzIFKw.woff2) format("woff2");
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    src: url(../fonts/KFOkCnqEu92Fr1MmgVxMIzIFKw.woff2) format("woff2");
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    src: url(../fonts/KFOkCnqEu92Fr1MmgVxEIzIFKw.woff2) format("woff2");
    unicode-range: U+1F00-1FFF
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    src: url(../fonts/KFOkCnqEu92Fr1MmgVxLIzIFKw.woff2) format("woff2");
    unicode-range: U+0370-03FF
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    src: url(../fonts/KFOkCnqEu92Fr1MmgVxHIzIFKw.woff2) format("woff2");
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    src: url(../fonts/KFOkCnqEu92Fr1MmgVxGIzIFKw.woff2) format("woff2");
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    src: url(../fonts/KFOkCnqEu92Fr1MmgVxIIzI.woff2) format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url(../fonts/KFOlCnqEu92Fr1MmSU5fCRc4EsA.woff2) format("woff2");
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url(../fonts/KFOlCnqEu92Fr1MmSU5fABc4EsA.woff2) format("woff2");
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url(../fonts/KFOlCnqEu92Fr1MmSU5fCBc4EsA.woff2) format("woff2");
    unicode-range: U+1F00-1FFF
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url(../fonts/KFOlCnqEu92Fr1MmSU5fBxc4EsA.woff2) format("woff2");
    unicode-range: U+0370-03FF
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url(../fonts/KFOlCnqEu92Fr1MmSU5fCxc4EsA.woff2) format("woff2");
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url(../fonts/KFOlCnqEu92Fr1MmSU5fChc4EsA.woff2) format("woff2");
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url(../fonts/KFOlCnqEu92Fr1MmSU5fBBc4.woff2) format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/KFOmCnqEu92Fr1Mu72xKOzY.woff2) format("woff2");
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/KFOmCnqEu92Fr1Mu5mxKOzY.woff2) format("woff2");
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/KFOmCnqEu92Fr1Mu7mxKOzY.woff2) format("woff2");
    unicode-range: U+1F00-1FFF
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/KFOmCnqEu92Fr1Mu4WxKOzY.woff2) format("woff2");
    unicode-range: U+0370-03FF
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/KFOmCnqEu92Fr1Mu7WxKOzY.woff2) format("woff2");
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/KFOmCnqEu92Fr1Mu7GxKOzY.woff2) format("woff2");
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/KFOmCnqEu92Fr1Mu4mxK.woff2) format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url(../fonts/KFOlCnqEu92Fr1MmEU9fCRc4EsA.woff2) format("woff2");
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url(../fonts/KFOlCnqEu92Fr1MmEU9fABc4EsA.woff2) format("woff2");
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url(../fonts/KFOlCnqEu92Fr1MmEU9fCBc4EsA.woff2) format("woff2");
    unicode-range: U+1F00-1FFF
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url(../fonts/KFOlCnqEu92Fr1MmEU9fBxc4EsA.woff2) format("woff2");
    unicode-range: U+0370-03FF
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url(../fonts/KFOlCnqEu92Fr1MmEU9fCxc4EsA.woff2) format("woff2");
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url(../fonts/KFOlCnqEu92Fr1MmEU9fChc4EsA.woff2) format("woff2");
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url(../fonts/KFOlCnqEu92Fr1MmEU9fBBc4.woff2) format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/KFOlCnqEu92Fr1MmWUlfCRc4EsA.woff2) format("woff2");
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/KFOlCnqEu92Fr1MmWUlfABc4EsA.woff2) format("woff2");
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/KFOlCnqEu92Fr1MmWUlfCBc4EsA.woff2) format("woff2");
    unicode-range: U+1F00-1FFF
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/KFOlCnqEu92Fr1MmWUlfBxc4EsA.woff2) format("woff2");
    unicode-range: U+0370-03FF
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/KFOlCnqEu92Fr1MmWUlfCxc4EsA.woff2) format("woff2");
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/KFOlCnqEu92Fr1MmWUlfChc4EsA.woff2) format("woff2");
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/KFOlCnqEu92Fr1MmWUlfBBc4.woff2) format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
}

.header {
    background: #000;
    box-shadow: 0 2px 2px #35353512;
    height: 72px;
    margin-bottom: 0;
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 9
}

.header>.container {
    padding: 0 10px 0 0
}

.header .logo-wwf {
    background: #fff;
    padding: 5px 10px;
    height: 72px
}

.header .logo-wwf img {
    height: 62px
}

.header .slogan-wwf {
    background: #fff;
    color: #000;
    padding: 10px 15px;
    font-family: "WWF", "Open Sans", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji";
    font-size: 25px;
    height: 100%;
    display: flex;
    align-items: center
}

.header .end-header {
    align-items: center;
    display: flex
}

.header .menu-mobile {
    display: none
}

@media (max-width: 768px) {
    .header .language {
        display: none
    }

    .header .menu-mobile {
        display: block
    }

    .header .main-menu {
        position: absolute;
        top: 100%;
        background: #fff;
        left: 0;
        margin: 0;
        color: #000;
        padding: 20px;
        width: 100%;
        flex-direction: column;
        box-shadow: 0px 2px 4px #4f4f4f5c;
        gap: 0;
        display: none
    }

    .header .main-menu.active {
        display: block
    }

    .header .main-menu .item-nav:not(:last-child) {
        border-bottom: 1px dashed #ccc;
        padding-bottom: 10px;
        margin-bottom: 10px
    }
}

body.home .header {
    background: #fff;
    color: #000;
    margin-bottom: 0
}

body.home .header .slogan-wwf {
    background: #000;
    color: #fff
}

body:not(.home) .language path {
    fill: #cbcbcb
}

.main-menu {
    display: flex;
    gap: 40px;
    font-size: 2.2rem;
    margin-left: 33px;
    font-family: "WWF", "Open Sans", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
}

.table-pro-content {
    overflow: auto;
    padding-bottom: 45px
}

.table-pro {
    margin: 0 auto;
    clear: both;
    border-collapse: separate;
    border-spacing: 0;
    color: #3e3e3e
}

.table-pro tbody tr:nth-child(odd) {
    background-color: #fff
}

.table-pro tbody tr:nth-child(even) {
    background-color: #F9FAFC
}

.table-pro tbody td {
    border: 0 !important;
    padding: 10px
}

.table-pro thead {
    position: sticky;
    top: 0;
    background: #f7f9fda1;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    color: #464F60
}

.table-pro tr:hover>*,
.table-pro tbody>tr:hover>* {
    background-color: #EBF0FA
}

.btn {
    border: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #8cc63f;
    color: #fff;
    padding: 20px 40px;
    text-decoration: none;
    gap: 10px;
    line-height: 1.2;
    font-size: 1.6rem
}

.btn:hover {
    text-decoration: none
}

.btn--regular {
    padding: 12px 40px;
    font-size: 1.3rem
}

.btn--medium {
    padding: 10px 20px;
    font-size: 1.3rem
}

.btn--small {
    padding: 7px 29px;
    font-size: 1.3rem
}

.btn--block {
    width: 100%
}

.bg-brown {
    background-color: #552f25
}

.bg-brown-ligth {
    background-color: #9a681c
}

.bg-blue {
    background-color: #00728f
}

.bg-orange {
    background-color: #f07d00
}

.bg-green {
    background-color: #007932
}

.bg-violet {
    background-color: #f07d00
}

.bg-base {
    background-color: #c4bc8e
}

.bg-medium_green {
    background-color: #8cc63f
}

.bg-aqua {
    background-color: #009191
}

.bg-gray {
    background-color: #3f3f3f
}

.footer {
    background: #434040;
    color: #fff
}

.footer .mr-logo {
    background: #fff;
    padding: 10px;
    border-radius: 5px
}

.footer .footer-details {
    padding: 20px;
    gap: 20px
}

@media (max-width: 768px) {
    .footer .footer-details {
        flex-direction: column
    }
}

.footer .more-footer-details {
    padding: 10px;
    background-color: #000;
    color: #fff;
    text-align: center
}

.footer .footer-details__title {
    font-size: 2.3rem;
    margin-bottom: 10px;
    font-family: "WWF", "Open Sans", "Helvetica Neue", Arial
}

.footer .list-links-rl {
    -moz-columns: 2;
    columns: 2;
    -moz-column-gap: 42px;
    column-gap: 42px
}

.footer .list-links__link {
    margin-bottom: 10px
}

.footer .label-wwf {
    font-weight: 300
}

@media (max-width: 768px) {
    .footer .footer-details__wrap-logo-button {
        justify-content: center;
        gap: 20px
    }

    .footer .footer-details__wrap-logo-button .mr-logo img {
        width: 35px;
        height: 53px
    }

    .footer .footer-details__wrap-logo-button .label-wwf {
        font-size: 13px
    }
}

.splide-container {
    position: relative
}

.splide__slide img.background-slide {
    width: 100%;
    height: 600px;
    object-fit: center;
    object-position: center;
    background-color: #F9FAFC;
}

.splide__slide img.background-slide2 {
    width: 100%;
    height: 600px;
    -o-object-fit: cover;
    object-fit: cover
}

@media (max-width: 768px) {
    .splide__slide img.background-slide {
        height: 300px
    }
}

.splide__arrow {
    height: 80px;
    border-radius: 10px;
    background: #010101;
    color: #fff;
    width: 50px
}

.splide__arrow svg {
    fill: #fff;
    width: 25px;
    height: 40px
}

.container-menu-apps {
    position: absolute;
    bottom: -105px;
    left: 0;
    width: 100%;
    pointer-events: none
}

@media (max-width: 768px) {
    .container-menu-apps {
        position: static
    }
}

.menu-apps {
    display: flex;
    background: #eee;
    pointer-events: all
}

.menu-apps .item-app {
    flex: 1;
    text-align: center;
    padding: 20px;
    height: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    font-size: 2.6rem;
    font-family: "WWF", "Open Sans", "Helvetica Neue", Arial;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .2s ease
}

.menu-apps .item-app:hover {
    transform: scale(1.05)
}

.menu-apps .item-app.item-app-01 {
    background: #7b8427;
}

.menu-apps .item-app.item-app-01:hover {
    box-shadow: 0 20px 30px 0 #c8c8c8;
}

.menu-apps .item-app.item-app-02 {
    background: #8cc63f;
}

.menu-apps .item-app.item-app-02:hover {
    box-shadow: 0 20px 30px 0 #c8c8c8;
}

.menu-apps .item-app.item-app-03 {
    background: #00728f;
}

.menu-apps .item-app.item-app-03:hover {
    box-shadow: 0 20px 30px 0 #c8c8c8;
}

.menu-apps .item-app.item-app-04 {
    background: #009191;
}

.menu-apps .item-app.item-app-04:hover {
    box-shadow: 0 20px 30px 0 #c8c8c8;
}

.menu-apps .item-app.item-app-05 {
    background: #9a0064;
}

.menu-apps .item-app.item-app-05:hover {
    box-shadow: 0 20px 30px 0 #c8c8c8;
}

.menu-apps .item-app.item-app-06 {
    background: #f07d00;
}

.menu-apps .item-app.item-app-06:hover {
    box-shadow: 0 20px 30px 0 #c8c8c8;
}

.menu-apps .item-app.item-app-07 {
    background: #9a781c;
}

.menu-apps .item-app.item-app-07:hover {
    box-shadow: 0 20px 30px 0 #c8c8c8;
}

@media (max-width: 768px) {
    .menu-apps {
        flex-wrap: wrap
    }

    .menu-apps .item-app {
        flex-basis: 30%;
        height: 135px;
        gap: 10px;
        font-size: 2rem;
        padding: 10px
    }
}

.block-inserve {
    background: #000;
    color: #fff;
    padding-top: 150px;
    margin-bottom: 50px
}

@media (max-width: 768px) {
    .block-inserve {
        padding-top: 30px
    }
}

.title-block {
    margin-bottom: 30px;
    font-size: 2.7rem;
    padding-top: 20px;
    font-family: "WWF", "Open Sans", "Helvetica Neue", Arial
}

.title-block span {
    position: relative
}

.title-block span:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    width: calc(100% + 40px);
    height: 0;
    border-bottom: 4px solid #000;
    top: -20px
}

.title-block.inverse span {
    position: relative
}

.title-block.inverse span:before {
    border-color: #fff
}

.card-new {
    max-width: 100%;
    background: #000;
    color: #fff
}

.card-new .cover-card img {
    width: 100%;
    aspect-ratio: 16/9
}

.card-new .caption-card {
    padding: 20px
}

.card-new h2 {
    font-size: 2.6rem;
    font-weight: 400;
    margin-bottom: 2px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 2;
    text-transform: uppercase
}

#splideNews .splide__pagination {
    bottom: -30px
}

#splideNews .splide__pagination__page {
    background: #292929
}

#splideNews .splide__pagination__page.is-active {
    background: #000
}

#splideNews .splide__arrow {
    height: 50px;
    width: 40px
}

#splideNews .splide__arrow svg {
    width: 20px;
    height: 30px
}

.splide__slide__container>.container {
    position: relative
}

.splide__slide__container>.container .paragraph {
    position: absolute;
    left: 0;
    max-width: 90%;
    top: 230px;
    width: 100%
}

@media (max-width: 768px) {
    .splide__slide__container>.container .paragraph {
        left: 75px;
        top: auto;
        bottom: -282px
    }

    .splide__slide__container>.container .paragraph .title-slide {
        font-size: 4rem
    }

    .splide__slide__container>.container .paragraph .caption-slide {
        font-weight: 400;
        font-size: 1.6rem
    }
}

.splide__slide__container>.container .title-slide {
    font-family: "WWF", "Open Sans", "Helvetica Neue", Arial;
    color: #fff;
    font-size: 6.6rem;
    text-transform: uppercase;
    margin-bottom: 5px;
    line-height: 1.2;
    display: inline-block;
    text-shadow: 1px 1px 3px #21212178
}

.splide__slide__container>.container .caption-slide {
    color: #fff;
    max-width: 356px;
    font-weight: 500;
    font-size: 1.8rem;
    text-shadow: 1px 1px 3px #21212178
}

body.home {
    background: #EFEEEA
}